<environment include="Development">
    @* Template helper js *@
    <script src="~/vendor/js/helpers.js"></script>
    @* Template customizer js *@
    <script src="~/vendor/js/template-customizer.js"></script>
    @* Config file contain global vars & default theme options, Set your preferred theme option in this file. *@
    <script src="~/js/config.js"></script>
</environment>

<environment exclude="Development">
    <script src="~/vendor/js/helpers.js" asp-append-version="true"></script>
    <script src="~/vendor/js/template-customizer.js" asp-append-version="true"></script>
    <script src="~/js/config.js" asp-append-version="true"></script>
</environment>