<environment include="Development">
    <script src="~/vendor/libs/jquery/jquery.js"></script>
    <script src="~/vendor/libs/popper/popper.js"></script>
    <script src="~/vendor/js/bootstrap.js"></script>
    <!-- `perfect-scrollbar` library required by SideNav plugin -->
    <script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <!-- `hammer` required for swipe gesture -->
    <script src="~/vendor/libs/hammer/hammer.js"></script>
    <!-- `i18n` required for translation -->
    <script src="~/vendor/libs/i18n/i18n.js"></script>
    <!-- `typeahead` required for search fn -->
    <script src="~/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="~/vendor/libs/feather-icons/feather.js"></script>
    <!-- `typeahead` required for sideNav -->
    <script src="~/vendor/js/menu.js"></script>
    <script src="~/js/site.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/vendor/libs/jquery/jquery.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/popper/popper.js" asp-append-version="true"></script>
    <script src="~/vendor/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/hammer/hammer.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/i18n/i18n.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/typeahead-js/typeahead.js" asp-append-version="true"></script>
    <script src="~/vendor/libs/feather-icons/feather.js" asp-append-version="true"></script>
    <script src="~/vendor/js/menu.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>