<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<environment include="Development">
  <!-- Fonts & Flag icons -->
  <link rel="stylesheet" href="~/vendor/fonts/materialdesignicons.css" />
  <link rel="stylesheet" href="~/vendor/fonts/flag-icons.css" />
  <link rel="stylesheet" href="~/vendor/libs/node-waves/node-waves.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="~/vendor/css/rtl/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="~/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="~/css/demo.css" />

  <!-- `perfect-scrollbar` library required by SideNav plugin, `typeahead` required by search -->
  <link rel="stylesheet" href="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="~/vendor/libs/typeahead-js/typeahead.css" />

  <!-- Application stylesheets -->
  <link rel="stylesheet" href="~/css/site.css" />
</environment>

<environment exclude="Development">
  <!-- Fonts & Flag icons -->
  <link rel="stylesheet" href="~/vendor/fonts/materialdesignicons.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/vendor/fonts/flag-icons.css" asp-append-version="true" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="~/vendor/css/rtl/core.css" class="template-customizer-core-css" asp-append-version="true" />
  <link rel="stylesheet" href="~/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/demo.css" />

  <!-- `perfect-scrollbar` library required by SideNav plugin, `typeahead` required by search -->
  <link rel="stylesheet" href="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/vendor/libs/node-waves/node-waves.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/vendor/libs/typeahead-js/typeahead.css" asp-append-version="true" />

  <!-- Application stylesheets -->
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</environment>