@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path='@((HttpContextAccessor.HttpContext?.Request.PathBase ?? "") + "/")'>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    @{
        var title = ViewData["title"] as string ?? "";
        var appName = TempData.Peek("appName") as string ?? "";
    }
    <title>@title | @appName</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/img/favicon/favicon.ico" />

    <!-- Core Styles -->
    @await Html.PartialAsync("Sections/_Styles")

    <!-- Vendor Styles -->
    @await RenderSectionAsync("VendorStyles", required: false)

    <!-- Page Styles -->
    @await RenderSectionAsync("PageStyles", required: false)

    <!-- Include Scripts for customizer, helper, analytics, config -->
    @await Html.PartialAsync("Sections/_ScriptsIncludes")
</head>

<body>
<!-- Layout Content -->
@RenderBody()
<!--/ Layout Content -->

<!-- Core Scripts -->
@await Html.PartialAsync("Sections/_Scripts")

<!-- Vendor Scripts -->
@await RenderSectionAsync("VendorScripts", required: false)


<!-- Main JS-->
<script src="~/js/main.js"></script>

<!-- Page Scripts-->
@await RenderSectionAsync("PageScripts", required: false)
</body>

</html>