@await Html.PartialAsync("Sections/_Variables")
@{
    TempData.Keep();
    Layout = "_CommonMasterLayout";

    ViewData["contentNavbar"] = true;

    @* Display elements *@
    ViewData["isNavbar"] = ViewData["isNavbar"] ??= true;
    ViewData["isMenu"] = ViewData["isMenu"] ??= true;
    ViewData["isFlex"] = ViewData["isFlex"] ??= false;
    ViewData["isFooter"] = ViewData["isFooter"] ??= true;
    ViewData["customizerHidden"] = ViewData["customizerHidden"] ??= "customizer-hide";


    @*HTML Classes *@
    ViewData["navbarDetached"] ??= "navbar-detached";

    @*Content classes *@
    ViewData["container"] ??= "container-xxl";
    ViewData["containerNav"] ??= "container-xxl";
}

@section VendorStyles{ @await RenderSectionAsync("VendorStyles", required: false) }

@section PageStyles{ @await RenderSectionAsync("PageStyles", required: false) }

@section VendorScripts{ @await RenderSectionAsync("VendorScripts", required: false) }

@section PageScripts{ @await RenderSectionAsync("PageScripts", required: false) }

@{
    var isMenu = ViewData["isMenu"] != null && Convert.ToBoolean(ViewData["isMenu"]);
}

<div class='layout-wrapper layout-content-navbar @(isMenu ? "" : "layout-without-menu")'>
    <div class="layout-container">

        @if (isMenu)
        {
            @await Html.PartialAsync("Sections/Menu/_VerticalMenu")
        }

        <!-- Layout page -->
        <div class="layout-page">
            <!-- Navbar -->
            @if (ViewData["isNavbar"] != null && Convert.ToBoolean(ViewData["isNavbar"]))
            {
                @await Html.PartialAsync("Sections/Navbar/_Navbar")
            }
            <!-- / Navbar -->
            
            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->
                <div class='@ViewData["container"] @(Convert.ToBoolean(ViewData["isFlex"]) ? "d-flex align-items-stretch flex-grow-1 p-0" : "flex-grow-1 container-p-y")'>
                    @RenderBody()
                </div>
                <!-- / Content -->

                <!-- Footer -->
                @if (ViewData["isFooter"] != null && Convert.ToBoolean(ViewData["isFooter"]))
                {
                    @await Html.PartialAsync("Sections/Footer/_Footer")
                }
                <!-- / Footer -->
                <div class="content-backdrop fade"></div>
            </div>
            <!--/ Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    @if (ViewData["isMenu"] != null && Convert.ToBoolean(ViewData["isMenu"]))
    {
        <div class="layout-overlay layout-menu-toggle"></div>
    }
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>