@{
    TempData.Keep();
    string currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @(ViewData["navbarFull"] != null && Convert.ToBoolean(ViewData["navbarFull"]) ? "d-xl-none" : "")'>
        <a asp-controller="Dashboard" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo me-1"> @await Html.PartialAsync("../_Partials/_Macros")</span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.4854 4.88844C11.0081 4.41121 10.2344 4.41121 9.75715 4.88844L4.51028 10.1353C4.03297 10.6126 4.03297 11.3865 4.51028 11.8638L9.75715 17.1107C10.2344 17.5879 11.0081 17.5879 11.4854 17.1107C11.9626 16.6334 11.9626 15.8597 11.4854 15.3824L7.96672 11.8638C7.48942 11.3865 7.48942 10.6126 7.96672 10.1353L11.4854 6.61667C11.9626 6.13943 11.9626 5.36568 11.4854 4.88844Z" fill="currentColor" fill-opacity="0.6" />
                <path d="M15.8683 4.88844L10.6214 10.1353C10.1441 10.6126 10.1441 11.3865 10.6214 11.8638L15.8683 17.1107C16.3455 17.5879 17.1192 17.5879 17.5965 17.1107C18.0737 16.6334 18.0737 15.8597 17.5965 15.3824L14.0778 11.8638C13.6005 11.3865 13.6005 10.6126 14.0778 10.1353L17.5965 6.61667C18.0737 6.13943 18.0737 5.36568 17.5965 4.88844C17.1192 4.41121 16.3455 4.41121 15.8683 4.88844Z" fill="currentColor" fill-opacity="0.38" />
            </svg>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class='menu-item@(currentPage == "/dashboard" ? " active" : "")'>
            <a asp-controller="Dashboard" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons mdi mdi-home-outline"></i>
                <div data-i18n="Dashboard">Dashboard</div>
            </a>
        </li>
        
        <!-- Administrator currentPage.EndsWith("/") ||  -->
        <li class='menu-item@(currentPage.StartsWith("/admin") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons mdi mdi-account-box-outline"></i>
                <div data-i18n="Administrator">Administrator</div>
                <div class="badge bg-danger rounded-pill ms-auto">7</div>
            </a>
            <ul class="menu-sub">
                <!-- Status -->
                <li class='menu-item@(currentPage == "/status" ? " active" : "")'>
                    <a href="" class="menu-link">
                        <div data-i18n="Status">Status</div>
                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Beta</div>
                    </a>
                </li>
                <!-- Department -->
                <li class='menu-item@(currentPage == "/" ? " active" : "")'>
                    <a href="" class="menu-link">
                        <div data-i18n="Department">Department</div>
                    </a>
                </li>
                <!-- Company -->
                <li class='menu-item@(currentPage == "/" ? " active" : "")'>
                    <a href="" class="menu-link">
                        <div data-i18n="Company">Company</div>
                    </a>
                </li>
                <!-- Vehicle -->
                <li class='menu-item@(currentPage == "/" ? " active" : "")'>
                    <a href="" class="menu-link">
                        <div data-i18n="Vehicle">Vehicle</div>
                    </a>
                </li>
                <!-- Driver -->
                <li class='menu-item@(currentPage == "/" ? " active" : "")'>
                    <a href="" class="menu-link">
                        <div data-i18n="Driver">Driver</div>
                    </a>
                </li>
                <!-- Employee -->
                <li class='menu-item@(currentPage == "/" ? " active" : "")'>
                    <a href="" class="menu-link">
                        <div data-i18n="Employee">Employee</div>
                    </a>
                </li>
            </ul>
        </li>
        
        <!-- Delivery -->
        <li class="menu-header fw-medium mt-4">
            <span class="menu-header-text">Delivery</span>
        </li>
        <!-- Delivery -->
        <li class='menu-item@(currentPage.StartsWith("/admin") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons mdi mdi-truck-delivery-outline"></i>
                <div data-i18n="Delivery">Delivery</div>
                <div class="badge bg-danger rounded-pill ms-auto">3</div>
            </a>
            <ul class="menu-sub">
                <!-- Dashboard -->
                <li class='menu-item@(currentPage == "/status" ? " active" : "")'>
                    <a href="" class="menu-link">
                        <div data-i18n="Dashboard">Dashboard</div>
                    </a>
                </li>
                <!-- Delivery Task -->
                <li class='menu-item@(currentPage == "/employee" ? " active" : "")'>
                    <a asp-controller="" asp-action="" class="menu-link">
                        <div data-i18n="Delivery Task">Delivery Task</div>
                    </a>
                </li>
                <!-- Delivery Task Report -->
                <li class='menu-item@(currentPage == "/employee" ? " active" : "")'>
                    <a asp-controller="" asp-action="" class="menu-link">
                        <div data-i18n="Delivery Task Report">Delivery Task Report</div>
                    </a>
                </li>
            </ul>
        </li>
        
        <!-- CRM -->
        <li class="menu-header fw-medium mt-4">
            <span class="menu-header-text">CRM</span>
        </li>
        <!-- Task Request -->
        <li class='menu-item@(currentPage == "/" ? " active" : "")'>
            <a href="" class="menu-link">
                <i class="menu-icon tf-icons mdi mdi-account-arrow-left-outline"></i>
                <div data-i18n="Task Request">Task Request</div>
                <div class="badge bg-danger rounded-pill ms-auto">1</div>
            </a>
        </li>
        <!-- Task Pending -->
        <li class='menu-item@(currentPage == "/" ? " active" : "")'>
            <a href="" class="menu-link">
                <i class="menu-icon tf-icons mdi mdi-account-check-outline"></i>
                <div data-i18n="Task Pending">Task Pending</div>
                <div class="badge bg-danger rounded-pill ms-auto">2</div>
            </a>
        </li>
        <!-- Live Task -->
        <li class='menu-item@(currentPage == "/" ? " active" : "")'>
            <a href="" class="menu-link">
                <i class="menu-icon tf-icons mdi mdi-account-details-outline"></i>
                <div data-i18n="Live Task">Live Task</div>
                <div class="badge bg-danger rounded-pill ms-auto">3</div>
            </a>
        </li>
        <!-- Transportation -->
        <li class='menu-item@(currentPage == "/" ? " active" : "")'>
            <a href="" class="menu-link">
                <i class="menu-icon tf-icons mdi mdi-car-outline"></i>
                <div data-i18n="Transportation">Transportation</div>
                <div class="badge bg-danger rounded-pill ms-auto">2</div>
            </a>
        </li>
        <!-- In Review -->
        <li class='menu-item@(currentPage == "/" ? " active" : "")'>
            <a href="" class="menu-link">
                <i class="menu-icon tf-icons mdi mdi-list-status"></i>
                <div data-i18n="In Review">In Review</div>
                <div class="badge bg-danger rounded-pill ms-auto">3</div>
            </a>
        </li>
        <!-- Task Report -->
        <li class='menu-item@(currentPage == "/" ? " active" : "")'>
            <a href="" class="menu-link">
                <i class="menu-icon tf-icons mdi mdi-chart-line"></i>
                <div data-i18n="Task Report">Task Report</div>
            </a>
        </li>
        
        <!-- Download App -->
        <li class="menu-header fw-medium mt-4">
            <span class="menu-header-text">Download App</span>
        </li>
        <!-- Download App -->
        <li class='menu-item@(currentPage == "/" ? " active" : "")'>
            <a href="" class="menu-link">
                <i class="menu-icon tf-icons mdi mdi-tray-arrow-down"></i>
                <div data-i18n="Download App">Download App</div>
            </a>
        </li>
    </ul>

</aside>
<!-- / Menu -->