@{
    TempData.Keep();
    ViewData["containerNav"] = ViewData["containerNav"] ??= "container-fluid";
}

<footer class="content-footer footer bg-footer-theme">
    <div class='@ViewData["containerNav"]'>
        <div class="footer-container d-flex align-items-center justify-content-between py-3 flex-md-row flex-column">
            <div class="text-body mb-2 mb-md-0">
                © <script>document.write(new Date().getFullYear())</script>, made with <span class="text-danger"><i class="tf-icons mdi mdi-heart"></i></span> by <a href='@TempData.Peek("authorUrl")' target="_blank" class="footer-link fw-medium">@TempData.Peek("authorName")</a>
            </div>
            <div class="d-none d-lg-inline-block">
                <a href='@TempData.Peek("licenseUrl")' class="footer-link me-3" target="_blank">License</a>
                <a href='@TempData.Peek("documentation")' target="_blank" class="footer-link me-3">Documentation</a>
                <a href='@TempData.Peek("support")' target="_blank" class="footer-link d-none d-sm-inline-block">Support</a>
            </div>
        </div>
    </div>
</footer>