@{
    ViewData["Title"] = "Dashboard";
}

@section VendorStyles {
    
}

@section VendorScripts {
    
}

@section PageScripts {
    
}

@* ************** Content ************** *@
<div class="row gy-4">
    <!-- Cards with few info -->
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="avatar me-3">
                        <div class="avatar-initial bg-label-primary rounded">
                            <i class="mdi mdi-account-outline mdi-24px">
                            </i>
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="d-flex align-items-center">
                            <h4 class="mb-0">8,458</h4>
                            <i class="mdi mdi-chevron-down text-danger mdi-24px"></i>
                            <small class="text-danger">8.10%</small>
                        </div>
                        <small>New Customers</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="avatar me-3">
                        <div class="avatar-initial bg-label-success rounded">
                            <i class="mdi mdi-currency-usd mdi-24px">
                            </i>
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="d-flex align-items-center">
                            <h4 class="mb-0">28.6k</h4>
                            <i class="mdi mdi-chevron-up text-success mdi-24px"></i>
                            <small class="text-success">25.8%</small>
                        </div>
                        <small>Total Revenue</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="avatar me-3">
                        <div class="avatar-initial bg-label-info rounded">
                            <i class="mdi mdi-trending-up mdi-24px">
                            </i>
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="d-flex align-items-center">
                            <h4 class="mb-0">13.6k</h4>
                            <i class="mdi mdi-chevron-down text-danger mdi-24px"></i>
                            <small class="text-danger">12.1%</small>
                        </div>
                        <small>New Transactions</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="avatar me-3">
                        <div class="avatar-initial bg-label-warning rounded">
                            <i class="mdi mdi-poll mdi-24px">
                            </i>
                        </div>
                    </div>
                    <div class="card-info">
                        <div class="d-flex align-items-center">
                            <h4 class="mb-0">2,856</h4>
                            <i class="mdi mdi-chevron-up text-success mdi-24px"></i>
                            <small class="text-success">54.6%</small>
                        </div>
                        <small>Total Profit</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Cards with few info -->

    <!-- Card Border Shadow -->
    <div class="col-sm-6 col-lg-3">
        <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-primary">
                            <i class="mdi mdi-bus-school mdi-20px"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0 display-6">42</h4>
                </div>
                <p class="mb-0 text-heading">On route vehicles</p>
                <p class="mb-0">
                    <span class="me-1">+18.2%</span>
                    <small class="text-muted">than last week</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card card-border-shadow-warning h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-warning">
                            <i class="mdi mdi-alert mdi-20px"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0 display-6">8</h4>
                </div>
                <p class="mb-0 text-heading">Vehicles with errors</p>
                <p class="mb-0">
                    <span class="me-1">-8.7%</span>
                    <small class="text-muted">than last week</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card card-border-shadow-danger h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-danger">
                            <i class="mdi mdi-source-fork mdi-20px"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0 display-6">27</h4>
                </div>
                <p class="mb-0 text-heading">Deviated from route</p>
                <p class="mb-0">
                    <span class="me-1">+4.3%</span>
                    <small class="text-muted">than last week</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card card-border-shadow-info h-100">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2 pb-1">
                    <div class="avatar me-2">
                        <span class="avatar-initial rounded bg-label-info">
                            <i class="mdi mdi-timer-outline mdi-20px"></i>
                        </span>
                    </div>
                    <h4 class="ms-1 mb-0 display-6">13</h4>
                </div>
                <p class="mb-0 text-heading">Late vehicles</p>
                <p class="mb-0">
                    <span class="me-1">-2.5%</span>
                    <small class="text-muted">than last week</small>
                </p>
            </div>
        </div>
    </div>
    <!--/ Card Border Shadow -->

</div>